---
- TAILSCALE_AUTH: "" # https://login.tailscale.com/admin/settings/keys
- TAILSCALE_VERSION: "1.32.1" # fetches from Stable
- arch_map:
    i386: '386'
    x86_64: 'amd64'
    aarch64: 'arm64'
    armv7l: 'armv7'
    armv6l: 'armv6'
- arch: "{{ arch_map[ansible_architecture] | default(ansible_architecture) }}"
